@model HelloWorldMVC.Models.Person

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <h3>
        Nice to @(Model.TimesMet == 1 ? "meet" : "see") you, @Model.FirstName, this is the @ViewData["TimesMet"] time we've met.
    </h3>

    @*if (Model.TimesMet == 1)
        {
            <h3>
                Nice to meet you, @Model.FirstName.
            </h3>
        } else
        {<h3>
            Nice to see you, @Model.FirstName, this is the @ViewData["TimesMet"] time we've met.
        </h3>
        }*@
    <hr>
}

<h2>Would you like to meet the robot?</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @{// TODO: Add validation for name field for no numbers and one word only
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2"})*@
            <label class="control-label col-md-2">Your name, please:</label>
            <div class="col-md-10">
                @Html.EditorFor(p => p.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(p => p.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                @Html.LabelFor(model => model.TimesMet, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TimesMet, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TimesMet, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Access the Robot's Memory", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
