@model IEnumerable<HelloWorldMVC.Models.Person>

@{
    ViewBag.Title = "Greeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The Robot's Memory</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

}


<p>
    @Html.ActionLink("Greet the robot", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Filter Results: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <tr>
        <th>
            First Name
            @*@Html.DisplayNameFor(model => model.FirstName)*@
        </th>
        <th>
            Times Met
            @*@Html.DisplayNameFor(model => model.TimesMet)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @{ /* Add column for times met*/}
                @Html.DisplayFor(modelItem => item.TimesMet)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { FirstName = item.FirstName.Trim() }) |
                @Html.ActionLink("Details", "Details", new { FirstName = item.FirstName.Trim() }) |
                @Html.ActionLink("Delete", "Delete", new { FirstName = item.FirstName.Trim() })
            </td>
        </tr>
    }

</table>
